<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>EJS</title>
        <link rel="stylesheet" href="index.css">
    </head>
    <body>
       <div class="Header">
          <h2>New York Times</h2>  <a href="/AddArticle"> Add new article </a>
            </div>

        <div class="data">
        
          <% if(alltitles.length > 0) { 
                alltitles.forEach( article => { %>
                 <a href="/ViewAtrical/?title_id=<%= article._id %>" class="titlelink" ><%= article.title %> </a>
                <p><%= article.article %></p>
                <% }) %>
                 
            <% } else { %>
                <h3 class="err"> No articles found </h3>
            <% } %>
            </div>
        
    </body>
</html>